/* Order Styling Started   */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Other Styling Ended  */

/* Font Classes Started*/
@font-face {
    font-family: 'appercu';
    src: url(./fonts/Apercu\ Light.otf);
}

@font-face {
    font-family: 'futurak';
    src: url(./fonts/futurak.ttf);
}

@font-face {
    font-family: 'butler';
    src: url(./fonts/Butler_Bold_Stencil.otf);
}
/* Font Classes Ended  */

/* Color CLasses Styling Started  */
.grey{
    color: #979797;
}
.red{
    color: #ff0000;
}
.green{
    background-color: #006300;
}
/* Color CLasses Stylimg Started  */

/* Navbar Styling Started */
#main-logo{
    width: 165px;
}
#order-btn{
    background-color: #ff0000;
}
.arrow-btn{
    border: 1px solid #ffffff;
    border-radius: 20px;
    background-color: #ffffff;
    color: #ff0000;
    padding: 5px;
}
/* Navbar Styling Ended */

/* Welcome Styling Started  */
.welcome-head>h3{
    font-size: 40px;
    font-weight: lighter;
    padding-top: 20px;
}
.welcome>span{
    font-family: 'futurak';
}
/* Welcome Styling Ended  */

/* Franchise Styling Started  */
.restraunt-franchises{
    font-size: 40px;
}
/* Franchise Styling Ended  */

/* Village Styling Started */
.village-img{
    width: 500px;
}
/* Village Styling Ended */

/* Express Franchises Styling Started  */
.opening-soon{
    border: 1px solid #000000;
    padding: 20px 60px;
    background-color: #ffffff;
    color: #000000;
}
/* Express Franchises Styling Ended  */